@using SchoolTemplate.Database;
@model List<Product>
@{
  ViewData["Title"] = "Home Page";
}

<body>
    <div class="wrapper">
        <div class="nav-bar">
            <a class="active" href="#home">Home</a>
            <a href="#news">Informatie</a>
            <a href="#overview">Overzicht</a>
            <a href="#about">Contact</a>
        </div>
    </div>
    
</body>



