@using SchoolTemplate.Database;
@model List<Festival>
@{
    ViewData["Title"] = "Home Page";
}

    <div class="titel"
     <p>
         Joris Festival
     </p>


<img class="img" src="/Img/festival.jpeg">

<div class="festivalnu":
    <h1>

        @using SchoolTemplate.Database;
        @model List<Festival>
        @foreach (Festival f in Model);

        Aankomend festival: Festival Kip
        naam: @f.plaats

    </h1>







