@using SchoolTemplate.Database;
@model List<Festival>
@{
    ViewData["Title"] = "Home Page";
}

    <div class="titel"
     <p>
         Joris Festival
     </p>


<img class="img" src="/Img/festival.jpeg">






