
  
  <div class="plattegrond">
      <p>
          Door het aanwezige coronavirus kan het zijn dat sommige activiteiten en/of functies van het festival niet gebruikt kunnen worden</br></br>

          Plattegrond:

          <img class="foto" src="https://assets.omdenken.nl/afbeeldingen/_image/TrailerFest-plattegrond.jpg">

      </p>