
  
  <div class="plattegrond">
      <p>
         

          Let op: Door het aanwezige coronavirus kan het zijn dat sommige activiteiten en/of functies van het festival niet gebruikt kunnen worden</br></br>

          Plattegrond: </br>

          <img class="foto" src="https://bierenappelsap.nl/wp-content/uploads/2018/04/Plattegrond-2x.png">

      </p>