 
html {
  position: relative;
  min-height: 100%;
}

body {
    background: #22db97;
    margin-top: 0px;
    height: 200px;
    background-color: #22db97; /* For browsers that do not support gradients */
    background-image: linear-gradient(#22db97, #abebd2); /* Standard syntax (must be last) */
}




.nav-bar {
    text-align: center;
    padding: 10px 158px 10px 158px;
    background: #379683;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display:flex;
}


.nav-bar a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 7px 4px 7px;
    font-family: 'Optima', sans-serif;   
    flex-grow:1;
}

.asnav-bar a:active {
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 4px 7px 4px 7px;
    font-family: 'Optima', sans-serif;
}

.nav-bar a:hover{
    color:black;
    background-color:white;
}

.wrapper {
    
    width: 60%;
    margin-left: 20%;
    display: inline-block;
    padding-top: 80px;

}

img{
    width:100%;
    margin-top: 60px;
}

.doosje {
    background-color: #339966;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 30px;
    margin-top: 20px;
    border-radius: 20px;
    font-family: 'Didot', serif;
    color: white;
}

.contactpag input[type=text], input[type=datetime], select, textarea{
    width: 60%;
    padding: 10px 20px;
}

