
html {
  position: relative;
  min-height: 100%;
}

body {
    background:#6F2232;
    margin-top:0px;
    background-color:#4E4E50;
}

.nav-bar {
    text-align: center;
    padding: 15px 0px 15px 0px;
}

.nav-bar a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin:4px 7px 4px 7px;
}

.asnav-bar a:active {
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 4px 7px 4px 7px;
}

.nav-bar a:hover{
    color:black;
    background-color:white;
}

.nav-bar a.active{
    background-color: white;
    color: black;
}


.wrapper {
    background:#4E4E50;
    width:60%;
    margin-left:20%;
    display:inline-block;
}

